<footer class="site-footer">

  <div class="wrapper">

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h2 class="footer-heading">{{ site.title }}</h2>
        <ul class="contact-list">
          <li><span>Contact MUOP</span></li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          <li>
            {% include icon-instagram.html username=site.instagram_username %}
          </li>
          {% endif %}
        </ul>
        <ul class="contact-list">
          <li><span>Sponsored By</span></li>
          <li><a href="{{ site.sponsor-1-url }}" target="_blank">{{ site.sponsor-1 }}</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <p>{{ site.description }}</p>
        <div class="credits">
          <p>© 2016 MUOP. All Rights Reserved.</p>
          <p>Unicorn Head Design and Code By: <a href="https://twitter.com/unicorn_dev" target="_blank">@unicorn_dev</a></p>
        </div>
      </div>
    </div>

  </div>

</footer>
